
#title {
    text-align: center;
    
    
}

#carousel-example-generic {
    
    
}


#test {
    
    width: 200px;
    height: 760px;
    background-color: red;
        
    
    
}


#Firstarticle h2 {
 text-align: center;

    
    
}


#Firstarticle img {
    
    margin: 0 auto;
    border-radius: 5px;
    
}



#Secondarticle img {
    
    
    
     margin: 0 auto;
    border-radius: 5px;
    
}


#Secondarticle h2 {
 text-align: center;

    
    
}


