#body {
    
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.03, #E0E3AE),
	color-stop(0.86, #FFFFFF),
	color-stop(1, #E4FC6F)
);
background-image: -o-linear-gradient(bottom, #E0E3AE 3%, #FFFFFF 86%, #E4FC6F 100%);
background-image: -moz-linear-gradient(bottom, #E0E3AE 3%, #FFFFFF 86%, #E4FC6F 100%);
background-image: -webkit-linear-gradient(bottom, #E0E3AE 3%, #FFFFFF 86%, #E4FC6F 100%);
background-image: -ms-linear-gradient(bottom, #E0E3AE 3%, #FFFFFF 86%, #E4FC6F 100%);
background-image: linear-gradient(to bottom, #E0E3AE 3%, #FFFFFF 86%, #E4FC6F 100%);
}
#title {
    text-align: center;
    
    
}

#carousel-example-generic {
    
    
}


#test {
    
    width: 200px;
    height: 760px;
    background-color: red;
        
    
    
}




#Firstarticle h2 {
 text-align: center;

    
    
}


#Firstarticle img {
    
    margin: 0 auto;
    border-radius: 5px;
    
}



#Secondarticle img {
    
    
    
     margin: 0 auto;
    border-radius: 5px;
    
}


#Secondarticle h2 {
 text-align: center;

    
    
}

.navbar {

 margin-bottom: 0px; 

}


#row {
    margin-top: 50px;
    width: 700px;
    float: left;
    
    
}

#row h3 {
    
    
    
    
}


#row button {
    
    float: right;
    
    
}


#row h2 {
    
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

/*Navbar Bootstrap configuration*/




.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
margin-right: 40px;
margin-left: 40px;

}

/*Default navbar edition*/
.navbar-default {
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.03, #E0E3AE),
	color-stop(0.86, #FFFFFF),
	color-stop(1, #E4FC6F)
);
background-image: -o-linear-gradient(bottom, #E0E3AE 3%, #FFFFFF 86%, #E4FC6F 100%);
background-image: -moz-linear-gradient(bottom, #E0E3AE 3%, #FFFFFF 86%, #E4FC6F 100%);
background-image: -webkit-linear-gradient(bottom, #E0E3AE 3%, #FFFFFF 86%, #E4FC6F 100%);
background-image: -ms-linear-gradient(bottom, #E0E3AE 3%, #FFFFFF 86%, #E4FC6F 100%);
background-image: linear-gradient(to bottom, #E0E3AE 3%, #FFFFFF 86%, #E4FC6F 100%);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.03, #E0E3AE),
	color-stop(0.86, #FFFFFF)
);
background-image: -o-linear-gradient(bottom, #E0E3AE 3%, #FFFFFF 86%);
background-image: -moz-linear-gradient(bottom, #E0E3AE 3%, #FFFFFF 86%);
background-image: -webkit-linear-gradient(bottom, #E0E3AE 3%, #FFFFFF 86%);
background-image: -ms-linear-gradient(bottom, #E0E3AE 3%, #FFFFFF 86%);
background-image: linear-gradient(to bottom, #E0E3AE 3%, #FFFFFF 86%);
    
    
    
}

.btn {
    float: right;
    
 border-radius: 0px;
}

.form-control {
display: block;

}


#carousel-example-generic {
    
    
    
    
}

.btn-default {

margin-top: 10px;
}

#searchbar {
    
    margin-left: 20px;
    margin-top: 10px;
    
    
}